.tomato {
    background-color: tomato;
    text-align: end;
    color: palevioletred;
}
.orange {
    background-color: orange;
    text-align: left;
    
}
.dodgerblue {
    background-color: dodgerblue;
}
.mediumseagreen {
    background-color: mediumseagreen;
}
.gray {
    background-color: gray;
}
.slateblue {
    background-color: slateblue;
}