h1 {
  color: blue;
}
h2{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  font-style: italic;
  background-color: brown;
}
body {
  background-color: bisque;
}